* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.charts {
  display: flex;
}

.charts > * {
  min-height: 40vh;
  flex: 0 0 33.333333%;
}

@media screen and (max-width: 480px) {
  h2 {
    zoom: 70%;
  }
  table {
    font-size: 66%;
  }
  .charts {
    flex-direction: column;
  }
}

.graph-section {
  margin: 1em 15px;
  border: 1px solid black;
  padding-bottom: 1em;
}

.charts {
  padding: 0 1em;
}

h2 span {
  font-size: 16px;
}

h2 span a {
  color: orange;
  margin-right: 1em;
}

h2 {
  background-color: black;
  color: white;
  padding: 1em;
  margin: 0;
}
th {
  padding: 0.5em 0 0;
}

h2 i {
  font-size: 70%;
}

th:first-of-type, td:first-of-type {
  width: 50%;
  border-right: 1px solid black;
}

td {
  padding-bottom: 10px;
  vertical-align: top;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
